body {
display: grid;
grid-template-rows: repeat(4, 1fr);
grid-template-columns: 2fr 1fr;
min-width: 100vh;
min-height: 100vh;
}
.project-1 {
    grid-row: 1 / span 3;
    grid-column: 1;
    background-image: url("../mariyawhitcomb.github.io/img/rough\ paper\ texture.jpg");
    background-size: cover;
    color: rgb(84, 87, 90);
}
.project-1:hover {
    transform-origin: top left;
    transform: scale(1.2);
    
}
.project-2 {
    grid-row: 1/ span 2;
    grid-column: 2;
    background-image: url('../mariyawhitcomb.github.io/img/paul-morris-116514-unsplash.jpg');
    background-size: cover;

}
.project-2:hover {
    transform-origin: top right;
    transform: scale(1.75);
    
    
}

.project-3 {
    grid-row: 3/ span 2;
    grid-column: 2;
    background-color: coral;

}
.project-3:hover {
    transform-origin: bottom right;
    transform: scale(1.75);
    
}
.project-4 {
    grid-row: 4;
    grid-column: 1;
    background-color: darkseagreen;
}
.project-4:hover {
    transform-origin: bottom left;
    transform: scale(3);
   
}
